daemonset:
  filebeatConfig:
    filebeat.yml: |
      filebeat.inputs:
      - type: container
        paths:
          - /var/log/containers/*.log
        tags: ["myopensource"]
        processors:
        - add_kubernetes_metadata:
            host: ${NODE_NAME}
            matchers:
            - logs_path:
                logs_path: "/var/log/containers/"

      - type: container
        paths:
          - /var/log/containers/ragapp*.log
          - /var/log/containers/open-webui*.log
        tags: ["myservice"]
        processors:
        - add_kubernetes_metadata:
            host: ${NODE_NAME}
            matchers:
            - logs_path:
                logs_path: "/var/log/containers/"


      output.logstash:
        hosts: ['logstash-logstash:5044']

  resources:
    requests:
      cpu: "50m"
      memory: "50Mi"
    limits:
      cpu: "300m"
      memory: "200Mi"
