replicas: 1
minimumMasterNodes: 1

resources:
  requests:
    cpu: "400m"
    memory: "400Mi"
  limits:
    cpu: "800m"
    memory: "1200Mi"

volumeClaimTemplate:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 10Gi

extraInitContainers:
  - name: file-permissions
    image: busybox
    command: ['chown', '-R', '1000:1000', '/usr/share/elasticsearch/']
    volumeMounts:
    - mountPath: /usr/share/elasticsearch/data
      name: elasticsearch-master
    securityContext:
      privileged: true
      runAsUser: 0

antiAffinityTopologyKey: "kubernetes.io/hostname"
antiAffinity: "soft"

protocol: https
httpPort: 9200
transportPort: 9300


ingress:
  enabled: true
  annotations: {}
  # kubernetes.io/ingress.class: nginx
  # kubernetes.io/tls-acme: "true"
  className: "nginx"
  pathtype: ImplementationSpecific
  hosts:
    - host: elasticsearch.ragops.com
      paths:
        - path: /    